streamlit
streamlit_chat
requests
wikipedia-api
pdfplumber  
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
cython==0.29.36
numpy==1.22.4
pandas==1.5.3
